.Experiences {
    display: flex;

    &.background4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(7, 7, 92);
        width: 100%;
        height: 100%;
    }

    &.title {
        justify-content: center;
        font-family: 'GangwonEduPowerExtraBoldA';
        color: white;
        font-size: 40px;
        margin-bottom: 0;
    }

    &.divider {
        &.small {
            width: 3.25rem;
            height: 0;
            border: none;
            border-top: 0.2rem solid #ffffff;
            opacity: 1;
        }
    }
}

.BGtitle {
    width: 100%;
    text-align: left;
    margin-left: 2rem;
    font-size: 25px;
}

.whiteBG {
    font-family: 'GangwonEduPowerExtraBoldA';
    display: flex;
    flex-direction: column;
    width: 1250px;
    height: 600px;
    background-color: white;
    margin: 1rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgba(139, 139, 139, 0.2);
    padding-bottom: 1rem;
}

.insideBG {
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.insideBGright {
    width: 500px;
    color: black;
    font-family: 'GangwonEduPowerExtraBoldA';
}

.ExpPics {
    margin-top: 0rem;
    &.Paper {
        width: 400px;
        margin-left: 9rem;
    }
    &.Screen {
        width: 65%;
        margin-top: 3rem;
        max-width: 550px;
        margin-left: 6rem;
    }
}